.container {
  display: flex;
  height: 100vh;
  width: 98.5vw;
  flex-direction: column;
  padding: 10px;
}
.parent {
  display: grid;
  background-color: aliceblue;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.element {
  background-color: aqua;
  padding: 10px 10px;
  border: 0.5px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  overflow: scroll;
  flex-direction: column;
  box-shadow: 10px 10px 8px #888888;
}
input {
  height: 2rem;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.image {
  height: 8rem;
  width: 95%;
  background-color: transparent;
}
h2 {
  display: flex;
  align-self: center;
}

.loading {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.comicCard {
  background-color: transparent;
  padding: 10px 10px;
  border: 0.5px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  flex-direction: row;
}

.comicCardContainer {
  display: inline;
  height: 100px;
}
